@import 'scss/variables';

.sizeMedium {
  font-size: 15px;
}

.sizeLarge {
  font-size: 17px;
}

.sizeSmall {
  font-size: 12px;
}

.sizeNormal {
}

.dark {
  color: $gray-dark-8;
}

.dimmed {
  color: $gray-light-4;
  font-weight: 500;
}

.link {
  color: $gray-dark-8;
  font-weight: 600;
}

.focused {
  background-color: $primary;
  color: $gray-dark-8;
}
