@import 'scss/shared';

.blurb {
  flex: 1;
  text-align: center;

  .iconCircle {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    background: #e0e0e0;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #38687c;
    }
  }

  .title {
    font-size: 20px;
    color: white;
    font-weight: 500;
  }

  .description {
    margin-top: 10px;
    font-size: 15px;
    color: $gray-light-45;
  }
}

// Color Palettes

.steps {
  .iconCircle {
    background: transparent;
  }
  .title {
    color: #000;
  }
  .description {
    color: #9b9b9b;
  }
}

.benefits {
  .iconCircle {
    background: #221f1f;
    box-shadow: $box-shadow-dropdown;
  }
  .title {
    color: #000;
  }
  .description {
    color: #9b9b9b;
  }
}

// Text align
