@import 'scss/shared';

.section {
  background-color: $primary;
  text-align: center;
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  .overlay {
    left: 60%;
    transform: translateX(-50%);
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  h4 {
  }

  p {
    font-weight: 500;
    font-size: 15px;
  }
}
