@import 'scss/shared';


.information {
  font-size: 0.9rem;
}



.detail {
  display: flex;
  margin: 10px 0;
  .icon {
    flex: 0 0 30px;
    position: relative;
    svg {
      position: absolute;
      top: 3px;
    }
  }

  .content {
    flex: 1 0;

    .revealButton {
      min-height: 0;
      height: 18px;
      margin: 0;
    }

    .contact {
      height: 18px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

@include media-breakpoint-up(md) {

      .city {
        font-size: 15px;
        font-weight: 500;
      }

      .address {
        font-size: 14px;
      }
}
