@import 'scss/shared';

.price {
  display: flex;

  .left {
    flex: 1 0;
    padding-right: 10px;
  }

  .right {
    flex: 3 0;
  }

  .action {
    flex: 0 0 50px;
    text-align: center;

    .remove {
      cursor: pointer;
      font-size: 1.5rem;
      position: relative;
      top: calc(50% - 5px);
      transform: translateY(-50%);
      color: $danger;
    }
  }
}

.rentalRange {
  color: #b9b9b9;
}

.priceLink {
  display: inline-block;
  margin-top: 12px;
}

.done {
  margin-top: 20px;
  text-align: center;
}
