@import 'scss/shared';

.questions {
  .question {
    border-bottom: 1px solid $gray-light-3;

    padding-bottom: 15px;
    margin: 10px 0;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    .title {
      margin-top: 0;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .answer {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
